html {
    box-sizing: border-box;
    background: 
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    background-attachment: fixed;
    color: white;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px auto;
    align-items: center;
    margin-left: 50px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.home_page {
    font-size: 25pt;
    font-weight: bold;
    color: rgb(133, 145, 161);
}

.lessonNumber, .lessons {
    line-height: 40px;
}

.lessonNumber {
    font-size: 15pt;
    list-style: none;
}

.lessons {
    font-size: 15pt;
    font-weight: bold;
    color: rgb(133, 145, 161);
}

.lesson-description {
    font-size: 18pt;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 60px;
}

.lesson-notes {
    max-width: 750px;
    background: rgba(135, 145, 159, 0.5);
    border-radius: 15px;
    padding: 40px;
    font-size: 15pt;
    box-shadow: 0 0 5px 6px rgba(0,0,0,0.5);
    margin: 0 auto;
    position: relative;
}

#external_style_example {
    background-color: blue;
    color: white;
}

.hl {
    font-style: oblique;
    font-weight: bold;
    color: yellowgreen;
}
